body,
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.6rem;
}
body, html{
    background: url('../images/crossword.png') repeat;
}
body .row:first-child{
    padding-top: 30px;
}
html {
  font-size: 62.5%;
}
form h2{
    margin: 10px 0;
}
input{
    background-color:  #fbf9f9;
}

/* PROFILE PAGE */

.profileImg{
    width: 140px;
    box-shadow: 1px 1px 1px black;
    -webkit-box-shadow: 1px 1px 1px black;
}
.facebook {
  background-color: #4764b3;
}
.twitter {
  background-color: #00acee;
}
.google {
  background-color: #d7554f;
}
#addpass{
    background-color: #16a085;
}
ul li{
    list-style: none;
}
li a{
  text-align: center;
  text-decoration: none;
  height: auto;
  color: #fff;
  padding: 1rem;
  opacity: 0.9;
  display: block;
  width: 50%;
  margin-bottom: 1.5rem;
  margin-right: 0rem;
  font-size: 21.44px;
  font-size: 2.144rem;
  background-color: darksalmon;
}
li a:hover{
  background-color: #7c8080;
  color: white;
}
.passwordbutton{
  height: auto;
  padding: 1rem;
  opacity: 0.9;
  width: 50%;
  margin-bottom: 10px;
}
.addpass{
    display: none;
}
.onoffswitch {
    position: relative; width: 111px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 7px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 36px; padding: 0; line-height: 36px;
    font-size: 23px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 14px;
    background-color: #EEEEEE; color: #2FCCFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 14px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    width: 35px; margin: 0.5px;
    background: #A1A1A1;
    border: 2px solid #FFFFFF; border-radius: 7px;
    position: absolute; top: 0; bottom: 0; right: 71px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    background-color: #2FCCFF; 
}
.check{
    position: absolute;
    left: 133px;
    display: none;
}