body,
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.6rem;
}
body, html{
    background: url('../images/crossword.png') repeat;
    margin-top: 40px;
}
html {
  font-size: 62.5%;
}
form h2{
    margin: 10px 0;
}
input{
    background-color:  #fbf9f9;
}

/* PROFILE PAGE */

.profileImg{
    width: 140px;
    box-shadow: 1px 1px 1px black;
    -webkit-box-shadow: 1px 1px 1px black;
}